body {
	padding: 90px 0 20px;
	margin: 0;
	font-family: 'DejaVu Serif', Georgia, serif;
}

html {
	margin: 0;
}

article {
	padding: 30px;
	box-shadow: 0 3px 15px 3px rgba(189, 189, 189, 0.61);
}

.all-timers table {
	border-collapse: collapse;
	border: 1px solid #ccc;
	width: 100%;
}

.all-timers table th, .all-timers table td {
	border: 1px solid #ccc;
	padding: 5px 10px;
}

.all-timers .comment {
	width: 350px;
}

.login form {
	position: fixed;
	width: 300px;
	max-width: 90%;
	padding: 30px;
	box-shadow: 0 3px 15px 3px rgba(189, 189, 189, 0.61);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);;
}

.login label, .login input {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.login label {
	padding-bottom: 20px;
}

.login h1 {
	text-align: center;
}

.text-center {
	text-align: center;
	display: block;
}

.container {
	width: 1000px;
	margin: 0 auto;
	box-sizing: border-box;
}

.menu {
	position: fixed;
	top: 10px;
	width: 100%;
	z-index: 999;
	box-sizing: border-box;
}

.menu .container {
	box-shadow: 0 4px 10px 0 #323232;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	top: 0;
	padding: 14px;
	border: 1px solid gray;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
	width: 600px;
	text-align: right;
}

.menu li {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.menu li > a {
	border-radius: 10px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: #3d4d65;
	font-weight: 700;
	text-transform: none;
	border: 2px solid transparent;
	line-height: 20px;
	height: 20px;
	vertical-align: middle;
	padding: 8px;
	font-size: 14px;
}

.menu li > a img {
	vertical-align: middle;
}

.menu li > a:hover, .menu li > a:active{
	border-color: #3d4d65;
}

.menu-logo {
	width: 370px;
	float: left;
	height: 40px;
}

.menu-logo a {
	height: 40px;
	line-height: 1.4;
	padding-left: 60px;
	position: relative;
	display: inline-block;
	color: #4b505a;
	font-size: 26px;
	text-align: left;
	text-decoration: none;
	background-image: url(images/tomato.svg);
	background-size: auto 40px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

@media screen and (max-width: 1020px) {
	body {
		padding-top: 10px;
	}
	.container {
		width: 800px;
	}
	.menu {
		position: relative;
		top: 0;
		margin-bottom: 20px;
	}
	.menu-logo, .menu ul  {
		float: none;
		text-align: center;
		width: auto;
	}
}

@media screen and (max-width: 820px) {
	.container {
		width: 90%;
	}
	.all-timers .tomatos-count {
		display: none;
	}
	.all-timers .comment {
		width: auto;
	}
}

.clearfix::before,
.clearfix ::after {
	 display: table;
	 content: "";
 }
.clearfix ::after {
	 clear: both;
 }

 .recent-timers .timer-wrapper {
	 padding: 0 10px;
	 position: relative;
	 display: block;
	 font-size: 14px;
	 background-color: #fff;
	 -webkit-box-shadow: inset 0 -1px 0 0 #eceded;
	 box-shadow: inset 0 -1px 0 0 #eceded;
	 padding-right: 170px;
	}
.recent-timers .timer-wrapper:hover {
	background-color: #e5ffd6;
	-webkit-box-shadow: inset 0 -1px 0 0 #bff69e;
	box-shadow: inset 0 -1px 0 0 #bff69e;
}

.recent-timers .timer-time {
	position: absolute;
	top: 0;
	line-height: 40px;
	right: 50px;
	color: #727272;
}

.recent-timers input[type="text"] {
	border: 0 none;
	box-shadow: none;
	padding: 0;
	line-height: 40px;
	width: 100%;
	outline: none;
	background: transparent;
}

.recent-timers input[type="text"][readonly] {
	cursor: pointer;
	color: #999;
}

.recent-timers .timer-logged span {
	/* background-color: #fafafa; */
	background-color: #fafafa;
	/* border: 1px solid #cacece; */
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	display: inline-block;
	height: 24px;
	width: 24px;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
	border-radius: 50%;
	display: block;
	position: absolute;
	cursor: pointer;
}
.recent-timers .timer-logged input[type="checkbox"]:checked + span {
	background-color: #4bc800;
}
.recent-timers .timer-logged input[type="checkbox"] + span::after {
	content: '\2714';
	position: absolute;
	text-align: center;
	width: 24px;
	left: 0;
	top: 0;
	color: #ccc;
	font-size: 20px;
	line-height: 24px;
}
.recent-timers .timer-logged input[type="checkbox"]:checked + span::after {
	color: #fff;
}

.recent-timers .timer-logged input[type="checkbox"] {
	display: none;
}

.recent-timers .timer-logged {
	position: absolute;
	height: 100%;
	right: 0;
	width: 50px;
	text-align: center;
	top: 0;
}

.recent-timers h2 {
	font-size: 14px;
	color: #323232;
	padding: 0;
	margin: 0;
	line-height: 60px;
	position: relative;
	padding-right: 100px;
}

.recent-timers h2 span {
	position: absolute;
	line-height: 60px;
	right: 10px;
	top: 0;
}

.recent-timers h2 span::after {
	content: ' tomatos';
}

.current-timer {
	text-align: center;
	padding-top: 5px;
	color: #ff3d00;
	/* float: right; */
	text-decoration: none;
	outline: none;
}

.current-timer.active {
	color: #4bc800;
}

.root-container-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
